[submodule "tools/kicad"]
	path = tools/kicad
	url = git@github.com:IHP-GmbH/KiCad-ADK-MOD.git
	branch = main
[submodule "tools/chiplet-studio"]
	path = tools/chiplet-studio
	url = git@github.com:IHP-GmbH/chiplet-studio.git
	branch = main
[submodule "tools/chiplet_kicad_plugin"]
	path = tools/chiplet_kicad_plugin
	url = git@github.com:IHP-GmbH/Chiplets-KiCad-Plugin.git
	branch = main
[submodule "tools/gds_to_kicad"]
	path = tools/gds_to_kicad
	url = git@github.com:Mauricio-xx/gds-to-kicad.git
	branch = master
[submodule "tools/adk"]
	path = tools/adk
	url = git@github.com:IHP-GmbH/ADK.git
	branch = main
[submodule "tools/interposer"]
	path = tools/interposer
	url = git@github.com:IHP-GmbH/OpenIntM4TM2.git
	branch = main
[submodule "tools/interconnect_pdk"]
	path = tools/interconnect_pdk
	url = git@github.com:IHP-GmbH/IHP-Interconnect-IntM4TM2.git
	branch = main
[submodule "tools/kicad_designs"]
	path = tools/kicad_designs
	url = git@github.com:Mauricio-xx/kicad_designs.git
	branch = main
